
.education-container{
    height: 75%;
    position: relative;
    margin: auto;
    width: 60%;
}


.qualification{
    background-image: linear-gradient(to left, lightskyblue, white);
    word-wrap: break-word;
    border-right: 2px solid darkblue;
    margin: 0.5rem;
    padding: 10px;
    width: 40%;
    position: relative;
    min-height: 150px;
    height: auto;
    text-align: right;
}
.qualification:nth-child(2n+1){
    border-right: 0;
    border-left: 2px solid darkblue;
    background-image: linear-gradient(to right, lightskyblue, white);
    left:55%;
    text-align: left;
}
.qualification-para{
    font-weight: 500;
    margin: 0;
}
.trackpath{
    margin : 0px;
    height: 80%;
    width: 0;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border: 3px dashed lightskyblue;
    z-index: 2;
}
.position-pin{
    text-shadow: 2px 2px #00BFFF;
    color: #4169E1;
    z-index: 3;
    top: 100px;
    font-size: 2rem;
    position: sticky;
    left: 50%;
    transform: rotate(90deg) translateX(-50%);
}
.title-qualification{
    font-weight: 700;
}

@media screen and (max-width:1000px){
    .qualification{
        width: 80%;
        left: 10% !important; 
        border-right: 0;
        border-left: 2px solid darkblue;
        background-image: linear-gradient(to right, lightskyblue, white);
        text-align: left;
    }
    .trackpath{
        left: 3%;
    }
}
